<div class="row">
    <div class="col-12">
        <h5>Add todo</h5>
    </div>
    <div class="col-6">
        <form class="sign-in-form" [formGroup]="todoForm" autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="mb-3 row">
                <label class="col-2 col-form-label">Title</label>
                <div class="col-10 p-0">
                    <input type="text" class="form-control" formControlName="title" [ngClass]="{'is-invalid': todoForm.controls.title.status === 'INVALID' && isSubmit}">
                    <p class="invalid-feedback mb-0">Required</p>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-2 col-form-label">Note</label>
                <textarea class="col-10 form-control" rows="3" formControlName="note"></textarea>
            </div>
            <div class="mb-3 row">
                <label class="col-2 col-form-label">Category</label>
                <select class="col-10 custom-select" formControlName="category">
                    <option value="1">Home</option>
                    <option value="2">Work</option>
                    <option value="3">Travel</option>
                </select>
            </div>
            <div class="mb-3 row">
                <label for="time" class="col-2 col-form-label">Time</label>
                <input type="text"
                    placeholder="Select date"
                    class="col-10 form-control"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                    formControlName="deadline"
                    bsDatepicker>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-success mr-3" type="submit">Add</button>
                    <button class="btn btn-secondary" [routerLink]="['/list']">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
